*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 0 auto;
    max-width: 650px;
    height: 600px;
    border: 1px solid grey;

}
.search-task--input{
    display: block;
    margin: 0 auto;
    
}
.search-task--button{
    margin: 0 auto;
display: block;
}
.filter--button{
    display:
}
.to-do-list{
    display: block;
    margin: 0 auto;
}



.task{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px;
    width:600px;
    font-size:16px;
    cursor: pointer; 
    margin: 0 auto;
    border-bottom: 1px solid gray;
}
.task--completed{
    color: gray;
    text-decoration: line-through;
    text-decoration-color: grey;
    background: 
}
