*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    text-align: center;
    margin: 0 auto;
    max-width: 650px;
    height: 600px;
    border: 1px solid grey;

}
.search-task--input{
    display: block;
    margin: 20px auto 5px auto;
    width: 300px;
    height: 25px;

    
}
.search-task--button{
    margin: 0 auto 15px auto;
display: block;
width: 90px;
text-transform: uppercase;
letter-spacing: 1px;
background: gray;
border: 1px solid gray;
color: #fff;
padding: 5px 0;

}
.add-task--input{
    width: 300px;
    height: 25px;

}
.add-task--button{
    border: 1px solid lightseagreen;
    background: lightseagreen;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
}
.filter--button{
    background: cadetblue;
    border: 1px solid cadetblue;
    margin: 5px 10px;
    padding: 5px 0;
    width: 120px;
    text-transform: uppercase;
    color: #fff;
}
.to-do-list{
    display: block;
    margin: 0 auto;
}



.task{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px;
    width:600px;
    font-size:16px;
    cursor: pointer; 
    margin: 0 auto;
    border-bottom: 1px solid grey;
}
.task--completed{
    color: gray;
    text-decoration: line-through;
    text-decoration-color: grey;
    background: 
}
